.best-sellers {
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.best-sellers-heading {
    font-size: 2.5rem;
    color:red;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.best-sellers h2 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
.bookshelf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.book {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.book img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}
.book h3,
.book p {
    margin: 5px 0;
    color: white;
}
.book:nth-child(1) {
    top: 5px;
    left: 10px;
    transform: translateX(-50%);
}
.shop-now-button {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    opacity: 1;
    background-color: #ac0d0d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}
.book:nth-child(1):hover {
    opacity: 1;
}
.book:nth-child(2) {
    top: 60px;
    left: 150px;
}

.book:nth-child(3) {
    top: 60px;
    right: 90px;
}

.book:nth-child(4) {
    top: 80px;
    left: 400px;
}

.book:nth-child(5) {
    top: 80px;
    right: 340px;
}
.centered-heading {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding: 10px 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
