.book-box {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    padding: 5px;
    gap: 0.25em;
}

.book-title {
    font-weight: bold;
}

.book-author {
    font-style: italic;
}
